<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<table>
  <%= form_tag(roll_dice_session_path, :remote => true) do -%>
    <tbody>
      <tr>
        <td><b><%= label_tag :discipline %></b></td>
        <td><%= text_field_tag :discipline, '', :size => 3 %></td>
      </tr>
      <tr>
        <td><b><%= label_tag :exhaustion %></b></td>
        <td><%= text_field_tag :exhaustion, '', :size => 3 %></td>
      </tr>
      <tr>
        <td><b><%= label_tag :madness %></b></td>
        <td><%= text_field_tag :madness, '', :size => 3 %></td>
      </tr>
      <tr>
        <td><b><%= label_tag :pain %></b></td>
        <td><%= text_field_tag :pain, '', :size => 3 %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><%= submit_tag "Roll dice" %></td>
      </tr>
    </tfoot>
  <% end -%>
</table><br />

<p id="results"></p>
<p id="d_results"></p>
<p id="e_results"></p>
<p id="m_results"></p>
<p id="p_results"></p>

<table>
  <tbody>
    <tr>
      <td><b>Despair:</b></td>
      <td><%= @session.despair %></td>
      <td>Cast a shadow</td>
    </tr>
    <tr>
      <td><b>Hope:</b></td>
      <td><%= @session.hope %></td>
      <td>Shed light</td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
