<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Despair:</b>
  <%= @session.despair %>
</p>

<p>
  <b>Hope:</b>
  <%= @session.hope %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
