<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td><b><%= f.label :name %></b></td>
        <td><%= f.text_field :name %></td>
      </tr>
        <% if params[:action] == 'edit' or params[:action] == "update" -%>
          <tr>
            <td><b><%= f.label :despair %></b></td>
            <td><%= f.number_field :despair, :autocomplete => :off %></td>
          </tr>
          <tr>
            <td><b><%= f.label :hope %></b></td>
            <td><%= f.number_field :hope, :autocomplete => :off %></td>
          </tr>
        <% end -%>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% logger.info "action is #{params[:action]}" -%>
<% if params[:action] == "edit" or params[:action] == "update" -%>
  <h3>GM</h3>
  <%= form_for @game do |f| %>
    <%= f.select :gm_id, options_from_collection_for_select(@game.players + [@game.gm], :id, :email) %>
    <%= f.submit "Promote player to GM" %>
  <% end -%>

  <h3>Players</h3>
  <ul id="players">
    <%= render :partial => "player", :collection => @game.players %>
  </ul>  
  <%= form_tag invite_game_path, :method => :put, :remote => true do %>
    <%= text_field_tag :email %> <%= submit_tag "Invite player" %>
  <% end -%>
<% end -%>
