<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == 'edit' -%>
    <table>
      <tbody>
        <tr>
          <td><b><%= f.label :name %></b></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td><b><%= f.label :despair %></b></td>
          <td><%= f.number_field :despair, :autocomplete => :off %></td>
        </tr>
        <tr>
          <td><b><%= f.label :hope %></b></td>
          <td><%= f.number_field :hope, :autocomplete => :off %></td>
        </tr>
      </tbody>
    </table>
  <% end -%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if params[:action] == "edit" -%>
  <ul>
    <% @game.players.each do |u| %>
      <li><%= u.email %></li>
    <% end -%>
    <%= form_tag invite_game_path, :remote => true do %>
      <li><%= text_field_tag :email %> <%= submit_tag "Invite" %></li>
    <% end -%>
  </ul>
<% end -%>