<h2><%= @game.name %></h2>

<table id="dice">
  <%= form_tag(roll_dice_game_path, :remote => true) do -%>
    <tbody>
      <tr>
        <td><b><%= label_tag :discipline %></b></td>
        <td><%= number_field_tag :discipline, '3', :min => 0, :autocomplete => :off %></td>
        <td id="d_results"></td>
        <td id="d_recall"></td>
      </tr>
      <tr>
        <td><b><%= label_tag :exhaustion %></b></td>
        <td><%= number_field_tag :exhaustion, '0', :min => 0, :max => 6, :autocomplete => :off %></td>
        <td id="e_results"></td>
        <td id="e_recall"></td>
      </tr>
      <tr>
        <td><b><%= label_tag :madness %></b></td>
        <td><%= number_field_tag :madness, '0', :min => 0, :max => 6, :autocomplete => :off %></td>
        <td id="m_results"></td>
        <td id="m_recall"></td>
      </tr>
      <tr>
        <td><b><%= label_tag :pain %></b></td>
        <td><%= number_field_tag :pain, '0', :min => 0, :autocomplete => :off %></td>
        <td id="p_results"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><%= submit_tag "Roll dice" %></td>
      </tr>
    </tfoot>
  <% end if can? :roll_dice, @game -%>
</table>

<h3>Characters</h3>
<table id="plays">
  <tbody>
    <%= render :partial => 'play', :collection => @game.plays %>
  </tbody>
</table>

<h3 id="results_h">Results</h3>
<ul class="menu" id="results">
	<%= render :partial => 'result', :collection => @game.results.reverse %>
</ul>

<h3>Coins</h3>
<table>
  <tbody>
    <tr>
      <td class="short"><b>Despair:</b></td>
      <td id="despair"><%= @game.despair %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= form_for @game, :method => :put, :url => cast_shadow_game_path, :remote => true do |f| -%>
          Remove <%= number_field_tag :despair_coins, '1', :max => @game.despair, :min => 1, :autocomplete => :off %> coin(s) to
          <%= f.submit 'cast a shadow' %>
        <% end if can? :cast_shadow, @game -%>
      </td>
    </tr>
    <tr>
      <td class="short"><b>Hope:</b></td>
      <td id="hope"><%= @game.hope %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= form_for @game, :method => :put, :url => shed_light_game_path, :remote => true do |f| -%>
          Remove <%= number_field_tag :hope_coins, '1', :max => @game.hope, :min => 1, :autocomplete => :off %> coin(s) to
          <%= f.submit 'shed light' %>
        <% end if can? :shed_light, @game -%>
      </td>
    </tr>
  </tbody>
</table> <br />

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
