<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<table>
  <%= form_tag(roll_dice_game_path, :remote => true) do -%>
    <tbody>
      <tr>
        <td><b><%= label_tag :discipline %></b></td>
        <td><%= number_field_tag :discipline, '', :autocomplete => :off %></td>
        <td id="d_results" style="display: none"></td>
      </tr>
      <tr>
        <td><b><%= label_tag :exhaustion %></b></td>
        <td><%= number_field_tag :exhaustion, '', :autocomplete => :off %></td>
        <td id="e_results" style="display: none"></td>
      </tr>
      <tr>
        <td><b><%= label_tag :madness %></b></td>
        <td><%= number_field_tag :madness, '', :autocomplete => :off %></td>
        <td id="m_results" style="display: none"></td>
      </tr>
      <tr>
        <td><b><%= label_tag :pain %></b></td>
        <td><%= number_field_tag :pain, '', :autocomplete => :off %></td>
        <td id="p_results" style="display: none"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><%= submit_tag "Roll dice" %></td>
      </tr>
    </tfoot>
  <% end -%>
</table>

<p id="results"></p>

<table>
  <tbody>
    <tr>
      <td class="short"><b>Despair:</b></td>
      <td id="despair"><%= @game.despair %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= form_for @game, :method => :put, :url => cast_shadow_game_path, :remote => true do |f| -%>
          Remove <%= number_field_tag :despair_coins, '1', :size => 3, :autocomplete => :off %> coin(s) to
          <%= f.submit 'cast a shadow' %>
        <% end -%>
      </td>
    </tr>
    <tr>
      <td class="short"><b>Hope:</b></td>
      <td id="hope"><%= @game.hope %></td>
    </tr>
    <tr>
      <td colspan="2">
        <%= form_for @game, :method => :put, :url => shed_light_game_path, :remote => true do |f| -%>
          Remove <%= number_field_tag :hope_coins, '1', :size => 3, :autocomplete => :off %> coin(s) to
          <%= f.submit 'shed light' %>
        <% end -%>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
