<%= form_for([@character.game, @character]) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label :name %></h3>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h3><%= f.label :concept %></h3>
    <%= f.text_field :concept %>
  </div>
  <div class="field">
    <h3><%= f.label :keeping_awake, "What's been keeping you awake?" %></h3>
    <%= f.text_area :keeping_awake %>
  </div>
  <div class="field">
    <h3><%= f.label :just_happened, "What just happened?" %></h3>
    <%= f.text_area :just_happened %>
  </div>
  <div class="field">
    <h3><%= f.label :surface, "What's on the surface?" %></h3>
    <%= f.text_area :surface %>
  </div>
  <div class="field">
    <h3><%= f.label :beneath, "What's beneath the surface?" %></h3>
    <%= f.text_area :beneath %>
  </div>
  <div class="field">
    <h3><%= f.label :path, "What's your path?" %></h3>
    <%= f.text_area :path %>
  </div>

  <div class="field">
    <h3><%= f.label :e_talent, "Exhaustion talent" %></h3>
    <%= f.text_area :e_talent %>
  </div>
  <div class="field">
    <h3><%= f.label :m_talent, "Madness talent" %></h3>
    <%= f.text_area :m_talent %>
  </div>
  
  <table>
  	<thead>
		<tr>
			<th><%= f.label :discipline %></th>
			<th><%= f.label :exhaustion %></th>
			<th><%= f.label :madness %></th>
		</tr>
  	</thead>
	<tbody>
		<tr>
			<td><%= f.number_field :discipline, :min => 0, :max => 3, :autocomplete => :off %></td>
			<td><%= f.number_field :exhaustion, :min => 0, :max => 6, :autocomplete => :off %></td>
			<td><%= f.number_field :madness, :min => 0, :max => 3, :autocomplete => :off %></td>
		</tr>
	</tbody>
  </table>
  
  <table>
  	<thead>
  		<th>Fight</th>
		<th>Flight</th>
  	</thead>
	<tbody>
		<td><%= f.number_field :fight, :min => 0, :max => 3, :autocomplete => :off %></td>
		<td><%= f.number_field :flight, :min => 0, :max => 3, :autocomplete => :off %></td>
	</tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
