<h2><%= @character.name %></h2>

<h3>Concept</h3>
<p>
  <%= @character.concept %>
</p>

<h3>Game</h3>
<p>
  <%= @character.game.name %>
</p>

<h3>Player</h3>
<p>
  <%= @character.player.email %>
</p>

<h3>What's been keeping you awake?</h3>
<p>
  <%= @character.keeping_awake %>
</p>

<h3>What just happened to you?</h3>
<p>
  <%= @character.just_happened %>
</p>

<h3>What's on the surface?</h3>
<p>
  <%= @character.surface %>
</p>

<h3>What lies beneath?</h3>
<p>
  <%= @character.beneath %>
</p>

<h3>What's your path?</h3>
<p>
  <%= @character.path %>
</p>

<h3>Exhaustion talent:</h3>
<p>
  <%= @character.e_talent %>
</p>

<h3>Madness talent:</h3>
<p>
  <%= @character.m_talent %>
</p>

<table id="attributes">
	<thead>
		<th>Discipline</th>
		<th>Exhaustion</th>
		<th>Madness</th>
	</thead>
	<tbody>
		<td><%= @character.discipline %></td>
		<td><%= @character.exhaustion %></td>
		<td><%= @character.madness %></td>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>Fight</th>
			<th>Flight</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= raw check_format(@character.fight) %></td>
			<td><%= raw check_format(@character.flight) %></td>
		</tr>
	</tbody>
</table>


<%= link_to 'Edit', edit_game_character_path(@character.game, @character) %> |
<%= link_to 'Back', game_path(@character.game) %>
