<!DOCTYPE html>
<html>
<head>
  <title>Don't Lose Your Game</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <%= yield %>

  <ul class='menu'>
    <%= render 'devise/menu/login_items' %>
    <%= render 'devise/menu/registration_items' %>
  </ul>

</body>
</html>
